In [44]:
import pandas as pd
import os
pd.options.display.max_colwidth = 100

In [45]:
data = pd.read_csv("yearly_full_release_long_format.csv")

In [47]:
data.head()

             Area   Value
11201   Argentina  145.31
12653     Armenia    7.49
16943   Australia  244.64
18395     Austria   66.36
19847  Azerbaijan   25.12

In [46]:
data = data[data['Area type'] == 'Country']
data = data[data['Category'] == 'Electricity generation']
data = data[data['Subcategory'] == 'Total']
data = data[data['Year'] == 2021]
data = data[['Area','Value']]

In [48]:
data.to_csv('total_electricity_generation_countries2021.csv')