In [1]:
import pandas as pd
import os
pd.options.display.max_colwidth = 100

In [2]:
data = pd.read_csv("yearly_full_release_long_format.csv")

In [5]:
data.head()

             Area  Value
11170   Argentina   3.29
12622     Armenia   2.19
16912   Australia   9.59
18364     Austria   8.21
19816  Azerbaijan   2.38

In [4]:
data = data[data['Area type'] == 'Country']
data = data[data['Subcategory'] == 'Demand per capita']
data = data[data['Year'] == 2021]
data = data[['Area','Value']]

In [6]:
data.to_csv('electricity_demandpercapita_countries2021.csv')